/***-------------- google font = 'Yanone Kaffeesatz' -------------***/
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
body
{
    font-family: 'Yanone Kaffeesatz',sans-serif;
}
a
{
    text-decoration: none;
    color: #fff;
}
body .container
{
    position: absolute;
    width: 938px;
    top: 50%;
    left: 30px;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: auto;
}
body .container .card
{
    margin:  0 auto;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    width: 280px;
    transform: scale(0);
    -webkit-transform: scale(0);
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0px 17px 46px -10px #777777;
    height: 470px;
    border-radius: 14px;
}
body .container .card:nth-of-type(1)
{
   background: 
   linear-gradient(45deg, 
   #ff638a 0%, #fdaa81 100%)
   ; 

   background: 
   -webkit-linear-gradient(45deg, 
   #ff638a 0%, #fdaa81 100%)
   ;
}
body .container .card:nth-of-type(2)
{
   background: 
   linear-gradient(to right,
    rgb(0, 198, 255),
    rgb(0, 114, 255)); 
    background: 
   -webkit-linear-gradient(to right,
    rgb(0, 198, 255),
    rgb(0, 114, 255)); 

}
body .container .card:nth-of-type(3)
{
   background:
   linear-gradient(to right,
    rgb(86, 171, 47), 
    rgb(168, 224, 99));
 
    
    background: 
   -webkit-linear-gradient(to right,
    rgb(86, 171, 47),
    rgb(168, 224, 99));


}
body .container .card:nth-of-type(1) .card_inner_circle img
{
    top: 22px;
    left: 1px;
}
body .container .card:nth-of-type(2) .card_inner_circle img
{
    top: 22px;
}
body .container .card:nth-of-type(3) .card_inner_circle img
{
    top: 22px;
    left: 1px;
}

body .container .card_inner_circle
{
    overflow: hidden;
    width: 70px;
    position: absolute;
    background: #f2f0ed;
    z-index: 10;
    height: 70px;
    border-radius: 100px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 7px 20px rgba(0,0,0,0.28);
    border: 4px solid #fff;
    top: 82px;
}

body .container .card_inner_circle img
{
    position: relative;
    height: 26px;
    top: 17px;
    transition: all .2s;
}
body .container .card_inner_header
{
    height: 120px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;
}
body .container .card_inner_header img
{
    position: relative;
    width: 120%;
    top: -30px;
    left: 0;
    transition: all 0.1s linear;
}
body .container .card:hover .card_inner_header img
{
    left: -50px;
    transition: all 3.4s linear;
}
body .container .card:hover .card_inner_Btn button
{
    transform: scale(1);
}
body .container .card:hover
{
    opacity: 1;
}

body .container .card_inner_content
{
    padding: 20px;
}
body .container .card_inner_content .price
{
    color: #fff;
    font-weight: 800;
    font-size: 70px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.42);
}

body .container .card_inner_content .title
{
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255,255,255,0.64);
    margin-top: 40px;
    font-size: 25px;
    letter-spacing: 1px;
}
body .container .card_inner_Btn
{
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
}
body .container .card_inner_Btn button
{
    padding: 16px;
    box-shadow:
     0px 0px 20px 4px #f76583,
     0px 0px 0px 2px rgba(255,255,255,0.19) inset;
    width: 100%;
    background: linear-gradient(90deg, #f35e7d 0%, #e5375d 100%); 
    border: none;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    transform: scale(0.94);
    -webkit-transform: scale(0.94);
    cursor: pointer;
    transition: box-shadow .3s,
    transform .3s .1s;
    -webkit-transition: box-shadow .3s,
    -webkit-transform .3s .1s;
    transition: box-shadow .3s,
    -webkit-transform .3s .1s;
    transition: box-shadow .3s,
    -webkit-transform .3s .1s;

}
body .container .card_inner_Btn button span
{
    text-shadow: 0px 4px 18px #ba3f57;
}
body .container .card_inner_Btn button:hover
{
    box-shadow: 0px 0px 60px 8px #f76583,
    0px 0px 0px 2px rgba(255,255,255,0.19) inset;

}

body .container .card_inner_content .text
{
    color: rgba(255,255,255,0.6);
    font-weight: 100;
    margin-top: 20px;
    font-size: 13px;
    line-height: 16px;
}











body .container .card:nth-of-type(1)
{
    animation:  intro 1s 2s forwards;
    -webkit-animation: intro 1s 2s forwards;
}

body .container .card:nth-of-type(2)
{
    animation:  intro 2s 3s forwards;
    -webkit-animation: intro 2s 3s forwards;
}

body .container .card:nth-of-type(3)
{
    animation:  intro 1s 2.5s forwards;
    -webkit-animation: intro 1s 2.5s forwards;
}




@-webkit-keyframes intro
{
    0%
    {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    25%
    {
        transform: scale(1.06);
        -webkit-transform: scale(1.06);
    }
    50%
    {
        transform: scale(0.965);
        -webkit-transform: scale(0.965);
    }
    75%
    {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
    }
    100%
    {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}



@keyframes intro
{
    0%
    {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    25%
    {
        transform: scale(1.06);
        -webkit-transform: scale(1.06);
    }
    50%
    {
        transform: scale(0.965);
        -webkit-transform: scale(0.965);
    }
    75%
    {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
    }
    100%
    {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}





body .container .card:nth-of-type(1):hover .card_inner_circle img
{
    animation:launch 1s forwards;
}

@-webkit-keyframes launch
{
    0%
    {
        left: 1px;
    }
    25%
    {
        left: 1px;
        top: -50px;
        
    }
    50%
    {
        left: -100px;
        
    }
    75%
    {
        top: 100px;
        transform: rotate(40deg);
        
    }
    100%
    {
        left: 1px;
        
    }
}

@keyframes launch
{
    0%
    {
        left: 1px;
    }
    25%
    {
        left: 1px;
        top: -50px;
        
    }
    50%
    {
        left: -100px;
        
    }
    75%
    {
        top: 100px;
        transform: rotate(40deg);
        
    }
    100%
    {
        left: 1px;
        
    }
}





body .container .card:nth-of-type(2):hover .card_inner_circle img
{
    animation:spin 1s forwards;
}
@-webkit-keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(720deg);
    }

}

@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(720deg);
    }

}


body .container .card:nth-of-type(3):hover .card_inner_circle img
{
    animation:fly 1s forwards;
}

@-webkit-keyframes fly
{
    0%
    {
        left: 0px;
    }
    25%
    {
        left: 50px;
        top: -50px;
    }
    50%
    {
        left: -130px;
    }
    75%
    {
        top: 60px;
    }
    100%
    {
        left: 0px;
    }

}


@keyframes fly
{
    0%
    {
        left: 0px;
    }
    25%
    {
        left: 50px;
        top: -50px;
    }
    50%
    {
        left: -130px;
    }
    75%
    {
        top: 60px;
    }
    100%
    {
        left: 0px;
    }

}

































